:host {
  display: inline-block;
}

a {
  display: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--owlly-button-width, inherit);
  height: var(--owlly-button-height, 40px);

  padding: var(--owlly-button-padding, 8px 12px 8px 8px);
  margin: var(--owlly-button-margin, 12px 10px);

  border-radius: var(--owlly-button-border-radius, 8px);

  border: none;

  font-family: var(--owlly-button-font-familly, "Lato", sans-serif);
  font-weight: var(--owlly-button-font-weight, 700);
  font-size: var(--owlly-button-font-size, 1em);
  line-height: var(--owlly-button-line-height, 1.4em);

  overflow: hidden;
  position: relative;

  cursor: pointer;
}

:host([mode="dark"]) {
  button {
    background: rgb(0, 176, 226);
    background: linear-gradient(90deg, #00a5d6 0%, #06a7cf 13%, #18abbc 32%, #36b39c 55%, #5fbe70 80%, #81c74b 100%);
    color: #fff;
  }
}

:host([mode="light"]) {
  button {
    background: #231f20;
    color: #fff;
  }
}

div.logo {
  margin: 0 8px 0 0;

  width: 28px;
  height: 28px;

  mask-repeat: no-repeat;
  mask-position: center;
}
